<template>
  <div class="flow">
    <div>Batch:</div>
    <input type="text"
      placeholder="ID"
      inputmode="numeric"
      v-model="flow.batch"
      @keyup.enter="selectBatch" />
    <button
     @click="selectBatch"> ▶
    </button>

    <template v-if="error">
      <div/> <div > {{error}} </div><div/>
    </template>

    <template v-if="flow.id">
      <img :src="pic(flow)"/>
      <div class="title">
        {{ flow.id }}
      </div>
      <div class="price">
        <decimal :value="brutto(flow)"/> € / {{flow.unit}}
      </div>
      <div/>

      <div>Menge:</div>
      <div class="quantity">
        <decimal v-model:value="flow.quantity"
         :precision="3" :editable="true"/>
      </div>
      <span class="quantity">{{ flow.unit }}</span>

      <div>result Preis:</div>
      <div class="price">
        = <decimal :value="sum(flow)"/>
      </div>
      <span class="price">€ </span>

      <div>Datum:</div>
      <input class="date" type="date" v-model="flow.date"/>
      <span></span>

      <div>Kommentar:</div>
      <textarea rows="5"/>
      <span></span>
  </template>
  </div>
</template>

<script>
import Decimal from '@/components/Decimal.vue'
import food from '@/data.js'
import Big from 'big.js'
Big.RM = 3 // rounding

export default {
  name: 'Flow',
  data() {
    return {
      flow: {
        batch: '',

      },
      error: null,
      cart: [],
      food: food,
    }
  },
  methods: {
    pic: (f) => `./pics/${f.id}.jpg`,
    brutto: c => Big(c.price).times(c.vat),
    sum: c => Big(c.price).times(c.vat).times(c.quantity || 0),
    selectBatch() {
      this.error = null
      const b = this.food.find(f => f.batch === this.flow.batch)
      if (b) {
        this.flow = {
          ...b,
          quantity: 0,
          comment: '',
          date: new Date().toISOString().substr(0, 10) // today's date as default
        }
      } else {
        this.error = 'Not Found!'
      }
    },
    add(f) {
      if (!f) return
      const item = this.cart.find(c => c.name === f.name)
      if (item) {
        item.quantity = Big(item.quantity).add(1)
      } else {
        this.cart.push({ ...f, quantity: Big(0) })
      }
    },
  },
  components: {
    Decimal
  }
}
</script>

<style scoped>

.flow {
  margin: auto;
  max-width: 100px;
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  justify-content: center;
}
div {
  justify-self: end;
}
.quantity {
  justify-self: start;
  font-weight: 400;
  font-size: 5vw;
}
.date {
  font-size: 2rem;
  width: 8em;
  font-family: "roboto";
}
input {
  font-size: 5vw;
  width: 21vw;
}
span {
  grid-row: span 1;
  justify-self: start;
  align-self: center;
}
button {
  height: 100%;
  font-size: 4vw;
  border-radius: 50%;
  background: #2c3e50;
  color: white;
}
button:hover,
button:focus {
  background: #42b983;
}
.title {
  font-size: 5vw;
  grid-column: span 2;
  font-weight: 700;
  padding-top: .5em;
  justify-self: start;
}
.price {
  font-size: 5vw;
  font-weight: 400;
  padding-top: .5em;
  justify-self: start;
}
img {
  width: 20vw;
  height: 27vh;
  object-fit: contain;
}
</style>
