<template>
  <div class="frame">
    <Cart ref="cart" :cart="cart" />
    <Picker :items="food" @pick="add"/>
  </div>
</template>

<script>
import Cart from '@/components/Cart.vue'
import Picker from '@/components/Picker.vue'
import food from '@/data.js'
import Big from 'big.js'
Big.RM = 3 // rounding

export default {
  name: 'Home',
  data() {
    return {
      cart: [],
      food: food
    }
  },
  methods: {
    add(f) {
      if (!f) return
      const item = this.cart.find(c => c.id === f.id)
      if (item) {
        item.quantity = Big(item.quantity).add(f.vpe)
      } else {
        this.cart.push({ ...f, quantity: Big(f.vpe) })
      }
    },
  },
  created() {
    window.onkeypress = (e) => { // 'listen' to usb barcode scanner
      if (e.key !== 'Enter') {
        window.code += e.key
      } else if (code !== '') {
        this.add(this.food.find(f => f.code === code))
        window.code = ''
      }
    }
  },
  components: {
    Cart,
    Picker
  }
}
</script>

<style scoped>

.frame {
  display: grid;
  grid-column-gap: 2em;
  grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
  align-items: start;
}

</style>
