<template>
  <div class="container">
    <template v-for="c in cart" >
      <decimal :editable="true" v-model:value="c.quantity"
       :precision="(c.unit === 'Kg')? 3 : 0" />
      <span class="unit"> {{ c.unit }} </span>
      <img :src="pic(c)">
      <label> {{ c.id }} </label>
      <span class="price">
        <Decimal :value="brutto(c)" />
      </span>
      <div class="price unit"> / {{ c.unit }} </div>
      <span class="sum"> = </span>
      <span class="sum"> <decimal :value="sum(c)" /> </span>
    </template>
      <label class="total">TOTAL:</label><span/>
      <span>
        <a :href="csv" target="_blank" download="food.csv">
          <Decimal :value="total"/>
        </a>
      </span>
  </div>
</template>

<script>
import Decimal from '@/components/Decimal.vue'
import Big from 'big.js'
Big.RM = 3

export default {
  name: 'HelloWorld',
  props: {
    cart: Array
  },
  methods: {
    pic: c => `./pics/${c.id}.jpg`,
    brutto: c => Big(c.price).times(c.vat),
    sum: c => Big(c.price).times(c.vat).times(c.quantity || 0)
  },
  computed: {
    total() {
      return this.cart.reduce((a, c) =>  a.add(this.sum(c)), Big(0))
    },
    csv () {
      return 'data:attachment/csv,' +
      encodeURIComponent(
        'Title; Menge; Einheit; Preis (brutto); Total \n\n' +
        this.cart.map(t =>
          `${t.id}; ${t.quantity.toFixed(3)}; ${t.unit};` +
          ` ${this.brutto(t).toFixed(2)}; ${this.sum(t).toFixed(2)};`
        ).join('\n')
      )
    }
  },
  components: {
    Decimal
  }
}
</script>

<style scoped>
.container {
  display: grid;
  font-size: 2.7em;
  font-weight: 300;
  grid-column-gap: 0.5rem;
  grid-template-columns: auto auto repeat(6, 1fr);
}
a {
  font-size: 61.8%;
  font-weight: 400;
}
</style>

<style>

span {
  grid-row: span 2;
  justify-self: end;
  align-self: end;
  white-space: nowrap;
  cursor: pointer;
}


.pic {
}
.unit {
  color: grey;
  font-size: 62%;
  font-weight: 100;
  justify-self: start;
  margin-bottom: 0.15em;
  white-space: nowrap;
}
img {
  grid-row: span 2;
  width: 40px;
  height: 50px;
  object-fit: cover;
}
.price {
  grid-row: span 1;
  align-self: end;
  margin-bottom: 0.5em;
  font-size: 38.2%;
  white-space: nowrap;
}
label {
  grid-column: 5 / 9;
  background: #339999;
  text-transform: capitalize;
  /* padding: .21em 0 -1em .51em; */
  justify-content: center;
  color: white;
  font-size: 38.2%;
  font-weight: 900;
}
.sum {
  grid-row: span 1;
  font-size: 61.8%;
  margin-bottom: 0.11em;
}
.total {
  display: flex;
  align-items: center;
  justify-content: center;
  grid-row: span 2;
  grid-column: 5 / 7;
}


</style>
