<template>
    <span class="wholes"
      :key="render" inputmode="numeric"
      :contenteditable="editable && editing"
      @click="editing = true"
      @keyup.esc="editing = false; render++"
      @keydown.enter="done"
      @blur="done"
      v-select >
      {{wholes}}<span v-if="editable && editing && precision > 0">.{{decimals}}</span>
    </span>
    <span class="decimals"
      v-if="!(editable && editing) && precision > 0"
      @click="editing = true">
      <span class="point"> . </span>
      <span class="smaller"> {{ decimals }} </span>
    </span>
    <span v-else />
</template>

<script>
import Big from 'big.js'
Big.RM = 3

export default {
  name: 'Decimal',
  props: {
      value: [Big, Number],
      editable: Boolean,
      precision: {
        type: Number,
        default: 2
      }
  },
  emits: {
    'update:value': Big // sync v-model
  },
  data() {
    return {
      render: 1, // workaround hack to force re-render
      editing: false
    }
  },
  methods: {
    done(e) {
      let val
      if (this.precision === 0) {
        val = parseInt(e.target.innerHTML)
      } else {
        val = parseFloat(e.target.innerHTML.replace(',', '.'))
      }
      if (val) {
        this.$emit('update:value', Big(val))
      }
      this.editing = false
      this.render++ // workaround hack to force re-render
    }
  },
  computed: {
    split() {
      return Big(this.value).toFixed(this.precision).split('.')
    },
    wholes() { return this.split[0] },
    decimals() { return this.split[1] }
  },
  mounted() {
    if (this.editable && this.value === 0) {
      this.editing = true

    }
  },
  directives: {
    select: {
      updated (el) {
        const sel = window.getSelection();
        sel.removeAllRanges();
        if (el.contentEditable === 'false') return
        const range = document.createRange()
        range.selectNodeContents(el);
        sel.addRange(range);
      }
    }
  }
}
</script>

<style scoped>

.point {
  margin-right: -0.23em;
  margin-left: -0.23em;
}
.smaller {
  font-size: 61.8%;
  letter-spacing: -0.062em;
  justify-content: end;
}
/* .decimals:hover .smaller,
.decimals:hover .point, */
.decimals:hover,
.wholes:hover,
.wholes:hover ~ .decimals,
.wholes:hover ~ .decimals > .point{
  background: pink;
}
</style>
