<template>
  <div>
    <input ref="query" v-model="query">
    <div class="grid" ref="grid">
      <div v-for="f, i in filtered"
        :class="['card', { selected: i === selected }]"
        @click="$emit('pick', f)"  >
        <label>{{ f.id }}</label>
        <img :src="pic(f)">
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Picker',
  props: {
    items: Array
  },
  emits: {
    pick: Object
  },
  data() {
    return {
      query: '',
      selected: 0 // index
    }
  },
  methods: {
    pic: f => `./pics/${f.id}.jpg`
  },
  computed: {
    filtered() {
      this.selected = 0
      if (!this.query) return this.items
      return [
        ...this.items.filter(f => f.batch.startsWith(this.query)),
        ...this.items.filter(f => f.id.startsWith(this.query))
      ]
    }
  },
  mounted() {
    const query = this.$refs.query
    query.onkeydown = (e) => {
      const width = this.$refs.grid.offsetWidth
      console.log('Gesamtbreite:', width);
      const cols = Math.floor((width + 5) / (110 + 5))
      const row = Math.floor(this.selected / cols)
      const col = this.selected % cols
      let i
      if (e.key === 'Enter') {
        this.$emit('pick', this.filtered[this.selected])
        return
      } else if (e.key === 'ArrowDown') {
        i = (row + 1) * cols + col
      } else if (e.key === 'ArrowUp') {
        i = (row - 1) * cols + col
      } else if (e.key === 'ArrowLeft') {
        i = row * cols + col - 1
      } else if (e.key === 'ArrowRight' &&
       query.selectionStart == query.value.length) {
        i = row * cols + col + 1
      }
      if (this.filtered[i]) {
        this.selected = i
        e.preventDefault()
      }
    }
    query.focus()
  }
}
</script>

<style scoped>
input {
  font-size: 42px;
  width: 97%;
}
.grid {
  display: grid;
  grid-column-gap: 5px;
  grid-template-columns: repeat(auto-fit, minmax(110px, 1fr));

}

.card {
  position: relative;
}
.card:hover {
  background-color: #eee;
}
.card:active {
  background-color: #555;
}
.selected {
  border: 5px solid red;
}
.card img {
  width: 110px;
  height: 130px;
  object-fit: cover;
}
.card label {
  font-size: 1.5em;
  position: absolute;
  bottom: 0px;
  right: 0px;
  left: 0px;
  padding: 3px;
  background: #33999999;
  color: white;
  font-style: bold;
}

</style>
