<template>
<!--   <div id="app"> -->
    <div id="nav">
      <router-link to="/">Home</router-link> |
      <router-link to="/about">About</router-link>
    </div>
    <router-view/>
<!--   </div> -->
</template>

<style>
#app {
  font-family: "roboto";
  text-align: center;
  font-weight: 300;
  color: #2c3e50;
  max-width: 97vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: 300;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

::selection {
  background: yellow;
}
</style>
